@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to bottom right, #000000, #0a1633, #0b3d91);
  background-attachment: fixed;
  min-height: 100vh;
  color: #f1f5f9;
}
